<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RD Temp{% endblock %}</title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav>
            <ul class="nav">
                <li class="nav"><a href={{ path('app_home_index') }}>Home</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav"><a href={{ path('app_store_list') }}>Store</a></li>
                    <li class="nav"><a href={{ path('app_tech_list') }}>Tech</a></li>
                    <li class="nav"><a href={{ path('app_coolingchamber_list') }}>Chamber</a></li>
                {% elseif is_granted('ROLE_TECH') %}
                    <li class="nav"><a href={{ path('app_tech_change') }}>Edit password</a></li>
                    <li class="nav"><a href={{ path('app_tech_import') }}>Import CSV</a></li>
                {% elseif is_granted('ROLE_STORE') %}
                    <li class="nav"><a href={{ path('app_chart_chart') }}>Charts</a></li>
                {% endif %}
                <li class="nav" style="float: right">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    {% endblock %}
</header>
<main>{% block body %}{% endblock %}</main>
<footer>{% block footer %}{% endblock %}</footer>
{% block js %}{% endblock %}
</body>
</html>